[DEFAULT]
data_path = ../data
save_path = ./log
validationRatio = 0.1
optimizer = adam
lr = 0.005
weight_decay = 0
start_epoch = 0
n_classes = 31
n_dim = 1
img_scale = 100
print_freq=50
five_crop=80
rotation_angle=90
epochs = 30
valid_transforms=Denoise,ToPILImage,ToTensor,Normalize
bad_epoch_threshold = 10
scheduler_step_size = 5
scheduler_gamma = 0.1
batch_size = 10

;[senet_denoised_flipped]
;noisy=False
;lr = 0.001
;img_scale=224
;train_transforms=Denoise,ToPILImage,RescaleToInputSize,RandomHorizontalFlip,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize
;
;[inception_denoised_flipped]
;noisy=False
;lr = 0.001
;img_scale=299
;train_transforms=Denoise,ToPILImage,RescaleToInputSize,RandomHorizontalFlip,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize

[senet_denoised_flipped_rotated]
noisy=False
lr = 0.001
img_scale=224
train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotation,RescaleToInputSize,ToTensor,Normalize
valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize

[inception_denoised_flipped_rotated]
noisy=False
lr = 0.001
img_scale=299
train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotation,RescaleToInputSize,ToTensor,Normalize
valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize

;[nasnetalarge_denoised_flipped]
;noisy=False
;lr = 0.0001
;batch_size = 1
;img_scale=331
;train_transforms=Denoise,ToPILImage,RescaleToInputSize,RandomHorizontalFlip,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize
;
;[nasnetalarge_denoised_flipped_rotated]
;noisy=False
;lr = 0.0001
;batch_size = 1
;img_scale=331
;train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotation,RescaleToInputSize,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize


;[senet_denoised_flipped_rotated_pretrained]
;noisy=False
;pretrained=True
;batch_size = 10
;lr = 0.00001
;linear_size=4608
;train_transforms=Denoise,ToPILImage,RescaleToInputSize,RandomHorizontalFlip,RandomRotation,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize
;
;[inception_denoised_flipped_rotated_pretrained]
;noisy=False
;pretrained=True
;batch_size = 10
;lr = 0.00001
;linear_size=4608
;train_transforms=Denoise,ToPILImage,RescaleToInputSize,RandomHorizontalFlip,RandomRotation,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize

;[senet_denoised_flipped_rotated_pretrained]
;noisy=False
;pretrained=True
;batch_size = 10
;lr = 0.00001
;linear_size=4608
;train_transforms=Denoise,ToPILImage,RescaleToInputSize,RandomHorizontalFlip,RandomRotationToTensor,ToTensor,Normalize
;valid_transforms=Denoise,ToPILImage,RescaleToInputSize,ToTensor,Normalize

;[senet_denoised_flipped_rotated_fivecrop]
;noisy=False
;batch_size = 20
;base = 32
;n_dim=5
;train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotationToTensor,FiveCropStacked,Normalize
;valid_transforms=Denoise,ToPILImage,FiveCropStacked,Normalize

;[vggnet_denoised_flipped_rotated_fivecrop]
;noisy=False
;batch_size = 64
;lr = 0.0005
;linear_size=2048
;n_dim=5
;train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotationToTensor,FiveCropStacked,Normalize
;valid_transforms=Denoise,ToPILImage,FiveCropStacked,Normalize

;[googlenet_denoised_flipped_rotated]
;type = denoised
;noisy=False
;batch_size = 10
;linear_size=331776
;train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotationToTensor,ToTensor,Normalize

;[googlenet_denoised_flipped_rotated_fivecrop]
;type = denoised
;noisy=False
;batch_size = 10
;epochs=35
;linear_size=173056
;n_dim=5
;train_transforms=Denoise,ToPILImage,RandomHorizontalFlip,RandomRotationToTensor,FiveCropStacked,Normalize
;valid_transforms=Denoise,ToPILImage,FiveCropStacked,Normalize
